.become{
    display: flex;
    padding: 40px 88px;
    color: #232f3e;
    background-color: #ebf8fa;
    justify-content: space-between;
}
.become__title h1{
    color: #232f3e;
    font-size: 80px;
    line-height: 82px;
    font-family: AEmb,Helvetica,Arial,sans-serif;
    font-weight: bold;

}
img{
    max-width: 100%;
    margin-top: 40px;
}
.become__title .title__info{
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    margin-top: -20px;
}
.become button{
    padding: 14px  50px;
    border-radius: 30px;
    background-color: #f90;
    border: 2px solid #f90;
    box-shadow: 0 0 16px rgb(0 0 0 / 20%);
    color: #232f3e;
    font-size: 18px;
    margin-top: 18px;
    cursor: pointer;
}
.become p{
    font-size: 12px;
    margin-left: 5px;
}
@media screen and (max-width: 760px){
    .become{
        flex-direction: column;
        justify-content: center;
    }
    .become__title{
        text-align: center;
    }
    .become__title h1{
        font-size: 40px;
        line-height: 48px;
    }
}